/node_modules
/public/hot
/public/storage
/public/images
/public/css/*.css
/public/fonts
/public/js/*.js
/public/*.js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.phpunit.result.cache
/.docker
.framgia-ci-reports/

# MacOS
.DS_Store